.nav {
    display: grid;
    align-items: center;
    background: $clr-glass;
    backdrop-filter: blur(5px);
    box-shadow: $light-shadow;
    position: absolute;
    width: 100%;
    color: $clr-primary-1;
    height: 4.5rem;
    padding: 1rem;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;

    &-center {
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;

        &-header {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;

            h3 {
                font-size: 1.75rem;
                margin-bottom: 0;
            }

            &-btn {
                justify-self: end;
                background: transparent;
                border-color: transparent;
                font-size: 2rem;
                cursor: pointer;

                :hover {
                    color: $clr-primary-3;
                    transition: $transition;
                    -webkit-transition: $transition;
                    -moz-transition: $transition;
                    -ms-transition: $transition;
                    -o-transition: $transition;
                }

                i {
                    color: $clr-primary-1;
                }
            }
        }
        
        &-links {
            display: none;
        }
    }
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: $dark-shadow;
}