.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $clr-glass;
    backdrop-filter: blur(5px);
    z-index: 4;
    display: grid;
    place-content: center;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;

    &-close-btn {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 3rem;
        background: transparent;
        border: transparent;
        color: $clr-primary-1;
        cursor: pointer;
        :hover {
            color: $clr-primary-3;
            transition: $transition;
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -ms-transition: $transition;
            -o-transition: $transition;
        }
    }

    &-links {
        text-align: center;
        a {
            font-size: 1.5rem;
            color: $clr-primary-1;
            display: inline-block;
            margin-bottom: 1.5rem;
            font-weight: bold;
        }
        a:hover {
            color: $clr-primary-3;
            transition: $transition;
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -ms-transition: $transition;
            -o-transition: $transition;
        }
    }

    &-icons {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        column-gap: 2rem;
        margin-top: 3rem;
        a {
            font-size: 1.5rem;
            color: $clr-grey-1;
        }
        a:hover {
            color: $clr-grey-2;
            transition: $transition;
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -ms-transition: $transition;
            -o-transition: $transition;
        }
    }
}

.show-sidebar {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}