.timeline {
    &-center {
        width: 80vw;
        max-width: 40rem;

        &-item {
            position: relative;
            border-top: 2px solid $clr-primary-2;
            border-bottom: 2px solid $clr-primary-2;
            padding: 4rem 2rem;
            margin: -2px;

            &:nth-child(odd) {
                border-left: 2px solid $clr-primary-2;
                border-top-left-radius: 2rem;
                border-bottom-left-radius: 2rem;
                margin-right: 2rem;
                padding-right: 0;
                
                .timeline-center-item-number {
                    left: 0;
                }
            }

            &:nth-child(even) {
                border-right: 2px solid $clr-primary-2;
                border-top-right-radius: 2rem;
                border-bottom-right-radius: 2rem;
                margin-left: 2rem;
                padding-left: 0;

                .timeline-center-item-number {
                    right: 0;
                    transform: translateX(50%);
                    -webkit-transform: translateX(50%);
                    -moz-transform: translateX(50%);
                    -ms-transform: translateX(50%);
                    -o-transform: translateX(50%);
                }
            }

            &:first-child {
                border-top: 0;
                border-top-left-radius: 0;
            }

            &:last-child {
                border-bottom: 0;
                border-bottom-right-radius: 0;
            }

            &-number {
                position: absolute;
                top: 50%;
                background: $clr-primary-2;
                color: $clr-white;
                width: 2rem;
                height: 2rem;
                display: grid;
                place-items: center;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
            }

            h4 {
                font-size: large;
            }

            p {
                text-align: justify;
                margin-bottom: 0;
            }
        }
    }
}